@charset "utf-8";
/**
 * 详情页样式 update by guiguan on 2016-07-27
 * @type css
 */
.db {
    display: block;
}

.mg10 {
    margin: 10px 0;
}

.none {
    display: none !important;
}

#discuss_box {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.title_dis {
    height: 36px;
    margin-top: 20px;
    border-bottom: 2px solid #666;
    position: relative;
}

.title_dis span.title_dis_sp {
    position: absolute;
    display: block;
    font-size: 20px;
    color: #ec4b4b;
    height: 36px;
    line-height: 36px;
    top: 0;
    left: 0;
    z-index: 9;
    width: 80px;
    border-bottom: 2px solid #ec4b4b;
}
div.hot_dis,div.new_dis{
    display: none;
    float: left;
    width: 667px;
    height: 34px;
    border-bottom: 1px solid #c5c5c5;
    position: relative;
}
.hot_dis span,.new_dis span{
    position: absolute;
    display: block;
    font-size: 16px;
    color: #333;
    height: 30px;
    line-height: 30px;
    top: 0;
    left: 0;
    z-index: 9;
    width: 75px;
}
.comment_succue_s .fl .comment_t{
    padding-left: 10px;
}
.comment_total {
    position: absolute;
    top: 5px;
    left: 92px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
}

.comment_total span {
    color: #ec4b4b;
}

.comment_t {
    float: left;
}
.comment-bottom-c{
    margin-top: 10px;
}

.comment_t .head_log {
    float: left;
    width: 41px;
    height: 40px;
    margin-right: 18px;
    margin-left: 5px;
}

.comment_t .head_log img {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 100%;
}

.comment-bottom-content .comment_text{margin: 12px 16px 0 16px;}
.comment_content {
    position: relative;
    float: left;
    height: 120px;
    padding: 12px 16px 0 16px;
    border: 1px solid #cfd3d6;
}
div.comment-bottom-content{
    width: 604px;
    height: 46px;
    padding: 0;
}
.comment_text .textarea-bottom-te{
    height: 34px;
}
.comment_text textarea {
    width: 572px;
    height: 80px;
    font-size: 16px;
    display: block;
    resize: none;
    border: 0;
    outline: 0;
    padding: 0;
    -webikt-transition: .1s height linear;
    -webkit-transition: .1s height linear;
    transition: .1s height linear;
}

.phone_c {
    position: absolute;
    top: 8px;
    left: 10px;
    z-index: 9;
    display: block;
    font-size: 16px;
    color: #999;
}

.phone_c a {
    color: #eb4b4b;

}

.comment_btn {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 604px;
    height: 38px;
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    text-align: right;
}

.comment_btn button {
    width: 89px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background-color: #cbcbcb;
    color: #fff;
    font-size: 16px;
    border: 0;
    cursor: default;
}

div.comment-bottom-btn{
    height: 46px;
    width: 90px;
    left: 514px;
}
div.textarea-bottom-none{
    height: 46px;
}
div.comment-bottom-btn button{
    height: 46px;
}
div.color_fo button {
    background-color: #ee4b4b;
    cursor: pointer;
}

.comment_succue,.comment_succue_host {
    float: left;
    margin-top: 20px;
}

.comment_succue_d {
    float: left;
    margin-top: 20px;
}

.comment_succue_d li.li_d {
    border-bottom: 1px solid #eee;
}

.comment_succue li.li_d,.comment_succue_host li.li_d {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 13px;
    position: relative;
}
.li_dsd{
    position: relative;
}
.head_img {
    float: left;
    margin-left: 5px;
    margin-right: 15px;
}

.head_img img {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 100%;
}

.comment_m {
    float: left;
    width: 606px;
}

.comment_name, .comment_time {
    display: block;
}

.comment_name {
    color: #818181;
}

.comment_time {
    color: #d4d4d4;
    font-size: 12px;
}

.user_like, .user_replay {
    cursor: pointer;
}

.user_like {
    display: block;
    width: 62px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    background: url("../images/like_icon.png") no-repeat center center;
}
.user_like.active {
    background: url("../images/like_icon_l.png") no-repeat center center;
}
.fr{
    position: relative;
}
.fr .num_l.iebug{
    display:none\9;
}
.fr .num_l.active{
    display:none;
}
.fr .num_l {
    position: absolute;
    color: red;
    z-index:9;
    font-size: 12px;
    bottom: 15px;
    left: 22px;
    animation:myfirst 2s 1 forwards;
    -moz-animation:myfirst 2s 1 forwards;
    -webkit-animation:myfirst 2s 1 forwards;
    -o-animation:myfirst 2s 1 forwards;
}
@keyframes myfirst {
    0%{left:22px; bottom:15px; opacity:1;filter:alpha(opacity=1)}
    100%{left:22px;  bottom:50px;opacity:0;filter:alpha(opacity=0)}
}
@-moz-keyframes myfirst {
    0%{left:22px; bottom:15px; opacity:1;-moz-opacity:1}
    100%{left:22px;  bottom:50px;opacity:0;-moz-opacity:0}
}
@-webkit-keyframes myfirst {
    0%{left:22px; bottom:15px; opacity:1;}
    100%{left:22px;  bottom:50px;opacity:0;}
}
@-o-keyframes myfirst {
    0%{left:22px; bottom:15px; opacity:1;}
    100%{left:22px;  bottom:50px;opacity:0;}
}

.user_like i {
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 9;
    color: #e84852;
    font-size: 12px;
}

.user_replay {
    color: #d3d3d3;
}

.comment_succue_p {
    width: 600px;
    margin: 12px 0 5px 0;
    color: #333;
    font-size: 16px;
    line-height: 26px;
    word-break: break-all;
}

.replay_te_l .mg10 {
    width: 585px;
    word-break: break-all;
}

.replay_text {
    position: relative;
    float: left;
    width: 573px;
    height: 119px;
    padding: 12px 16px 0 16px;
    border: 1px solid #cfd3d6;
}

.replay_box {

}

.replay_text textarea {
    width: 572px;
    height: 82px;
    font-size: 14px;
    display: block;
    resize: none;
    border: 0;
    outline: 0;
    padding: 0;
    -webikt-transition: .1s height linear;
    -webkit-transition: .1s height linear;
    transition: .1s height linear;
}

.comment_sm, .comment_sk {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 605px;
    height: 34px;
    border-top: 1px solid #e5e5e5;
    background-color: #fafafa;
    text-align: right;
}

.comment_sk button {
    width: 86px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background-color: #EE4B4B;
    color: #fff;
    border: 0;
}

.comment_sm button {
    width: 86px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
    background-color: #EE4B4B;
    color: #fff;
    border: 0;
}

.head_app_img {
    float: left;
}

.head_app_img img {
    width: 24px;
    height: 24px;
    border: 0;
    border-radius: 100%;
}

.replay_te_l {
    position: relative;
}

.us_n {
    margin: 0 20px 0 10px;
    color: #6d757a;
}

.rel_ta {
    overflow: hidden;
    color: #333;
}

.time_nad {
    position: absolute;
    bottom: -20px;
    left: 34px;
    z-index: 9;
    color: #99aac7;
}

.replay_te_l .rep_a {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    color: #d3d3d3;
}

.comment_t {
    display: block;
    font-size: 12px;
    color: #d4d4d4;
    margin-bottom: 24px;
}

.comment_s {
    color: #818181;
}

.user_l {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 20px;
    margin-right: 20px;
    position: relative;
    background: url("../images/like_icon.png") no-repeat center center;
}

.user_l i {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 9;
    color: #e84852;
    font-size: 12px;
}

.user_r {
    cursor: pointer;
    color: #d3d3d3;
}

.comment_s, .comment_ne {
    font-size: 12px;
    padding: 0 10px;
    color: #818181;
}

/*手机验证*/
body {
    position: relative;
}

.mask_c {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=0.5);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    z-index: 999;
    top: 0;
    left: 0;
}

.pop_phone {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -180px;
    z-index: 9999;
    width: 508px;
    height: 370px;
    background: #fff;
}

.pop_phone .phone_head {
    position: relative;
    height: 56px;
    line-height: 56px;
    color: #333;
    font-size: 20px;
    padding-left: 20px;
    border: 1px solid #f1f1f1;
}

.pop_phone .phone_head i {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 14px;
    z-index: 9;
    display: block;
    width: 27px;
    height: 21px;
    background: url("../images/close_sp.png") no-repeat -3px 3px;
}

.form_box {
    position: relative;
    width: 344px;
    margin: 40px auto;
}

.form_phone input {
    width: 100%;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    color: #333;
    text-indent: 14px;
}

div.form_code {
    position: relative;
    margin-top: 24px;
}

div.form_code #code_num {
    width: 224px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    font-size: 16px;
    color: #333;
    text-indent: 14px;
}

div.form_code .code_g {
    position: absolute;
    cursor: pointer;
    z-index: 9;
    top: 0;
    right: 0;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #e0e0e0;
    background: #f7f7f7;
    color: #444;
}

div.form_code .code_g.active {
    background-color: #EF4B4C;
    color: #fff;
}

.promt {
    margin-top: 10px;
    color: #f00;
}

.promt i {
    color: #ee4b4b;
}

.form_btn {
    width: 100%;
    height: 44px;
    line-height: 44px;
    background: #ef4b4c;
    margin-top: 16px;
    border: 0;
    color: #fff;
    font-size: 16px;
}

/*弹层*/
.pop_k {
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 38%;
    width: 106px;
    height: 73px;
    background: #fff;
    color: #414141;
    font-size: 16px;
    padding-left: 78px;
    line-height: 73px;
    border: 1px solid #999;
    box-shadow: 0 0 12px #999;
    border-radius: 8px;    
}
.pop_k i{
    position: absolute;
    z-index:9;
    top: 23px;
    left: 30px;
    display: block;
    width: 28px;
    height: 27px;
    background: url("../images/pop_total_icon.png") no-repeat;
}

div.pop_1 {
    top: 130px;
}

.pop_2 i{
    
}

.pop_3 i{
    height: 28px;
    background-position: 0 -27px;
}

.pop_4 i{
    background-position: 0 -55px;
}

.show_more {
    float: left;
    width: 660px;
    margin-top: 10px;
}

.show_more span {
    display: block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.btn_pop, .btn_pop_r, .btn-pop-bottom {
    position: absolute;
    bottom: 5px;
    right: 110px;
    color: #f00;
    font-size: 14px;
    z-index: 9;
}

.person_m {
    position: absolute;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}

.replay_te {
    padding: 10px;
    background: #f8f8f8;
}

.none1 {
    display: none;
}

.textarea_none {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 99px;
    width: 605px;
    background: #fff;
    filter:alpha(opacity=0);
    opacity:0;
    -moz-opacity:0;
}

.replay_kt {
    margin-bottom: 10px;
}
.show_more span.disabled{
    color: #999;
    cursor: default;
}
#conment_tole_in{
    display: none;
}
.show_loading{
    float: left;
    width: 660px;
    margin-top: 15px;
    display: none;
}
.show_loading span{
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url('../images/0.gif') no-repeat;
    background-size: cover;
    position:relative;
    animation:myfirst1 8s;
    -moz-animation:myfirst1 8s;
    -webkit-animation:myfirst1 8s;
    -o-animation:myfirst1 8s;
}

@keyframes myfirst1
{
0%   {transform: rotate(0deg);}
50%  {transform: rotate(50deg);}
100% {transform: rotate(100deg);}
}

@-moz-keyframes myfirst1
{
0%   {transform: rotate(0deg);}
50%  {transform: rotate(50deg);}
100% {transform: rotate(100deg);}
}

@-webkit-keyframes myfirst1
{
0%   {transform: rotate(0deg);}
50%  {transform: rotate(50deg);}
100% {transform: rotate(100deg);}
}

@-o-keyframes myfirst1
{
0%   {transform: rotate(0deg);}
50%  {transform: rotate(50deg);}
100% {transform: rotate(100deg);}
}

input::-moz-placeholder {
　　color: #999;
}
input:-ms-input-placeholder{
　　color:#999;
}
/*无法评论 弹框
*/
.J-bdsharebuttonbox-com{
    position: relative;
}
.J-bdsharebuttonbox-com .J-bdsharebuttonbox-wrap.bdshare-special{
    position: static;
}
.pop_comment_n i{
    position: absolute;
    z-index:9;
    top: 10px;
    left: 14px;
    display: block;
    width: 28px;
    height: 28px;
    background: url("../images/pop_total_icon.png") no-repeat;
    background-position: 0 -27px;
}
.pop_comment_n{
    display: none;
    position: absolute;
    z-index: 999;
    width: 152px;
    height: 48px;
    right: 24px;
    top: 74px;
    background: #fff;
    color: #414141;
    font-size: 16px;
    padding-left: 52px;
    line-height: 48px;
    border: 1px solid #999;
    box-shadow: 0 0 12px #999;
}
