@charset "utf-8";
/*新闻最后一页 更多精彩*/

/* 可视内容宽度 */
html,body{
	background: #f4f4f4;
}
.mr20{
	margin-right: 20px;
}
.mt20{
	margin-top: 20px;
}
a{
	text-decoration: none;
}
div.container{
	width: 1066px;
	margin: 0 auto;
}
.header-wrap{
	background: #fff;
}
/*.marvell{
	height: 2685px;
}
*/
.marvell-nav{
	width: auto;
	height: 40px;
	background: #ef4b4c;
}

.marvell-nav ul{
	width: 1066px;
	margin: 0 auto;
}

.marvell-nav ul li{
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
}
/*.marvell-nav ul li a{*/
	/*color: #fff;*/
/*}*/
.marvell-nav ul li.p6{
    padding: 0 6px;
    font-size: 20px;
}
.panel-bd{
	height: 2745px;
	margin: 40px auto 0;
}
.marvell-content ul li {
	float: left;
	position: relative;
	margin-bottom: 20px;
}
.hot-icon{
	position: absolute;
	display: inline-block;
	width: 24px;
	height:22px;
	text-align: center;
	line-height:22px;
	z-index:99;
	top: 0;
	left: -3px;
	background: #fe4344;
	color: #fff;
	font-size: 14px;
}
.marvell-content ul li a:hover .hot-icon{
	color:#fff;
}
.marvell-content ul li a:hover span{
	color:#ff4343;
}

.marvell-content ul li a{
	width: 250px;
	margin: 0 7px;
	display: block;
	position: relative;
	text-decoration: none;
	font-size: 0;
	background: #fff;
	float: left;
}
.marvell-content ul li div{
	float: left;
}
.marvell-content ul li a.ad-link .img{
	height: 250px;
}
.marvell-content ul li a .img{
	display: block;
    width: 250px;
    height: 188px;
    overflow: hidden;
}    
.marvell-content ul li a .img img{
    width: 250px;
    height: 188px;
}    
.marvell-content ul li .txt{
	display: block;
	height: 52px;
	overflow: hidden;
	word-spacing: break-all;
	color: #666; 
	font-size: 14px;
	padding:10px 10px 0;
	line-height: 18px;
}

.hot-icon i{
	position: absolute;
	bottom: -3px;
	left: 0;
	width:3px;
	height: 3px;
	background:url(../images/pic-icon.png) no-repeat;
}

span.recommend{
	background: #029afe;
}
span.recommend i{
	background:url(../images/recommend-icon.png) no-repeat;
}
/*.foot-content{
	width: 1002px;
	height: 44px;
	line-height: 44px;
	margin: 100px auto 60px;
	background: #e1e1e1;
	text-align: center;
}
*/
.topic-gg-content{
	margin: 0 7px;
}

/**
 返回顶部
 */
div.goto_top{
	margin-left: 535px;
}