@charset "utf-8";

.header_cnt_detail {
	background-color: #F8F8F8;
	width: 100%;
	height: auto
}
.header_cnt_2_detail {
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
	position: relative;
	z-index: 0
}
.header_cnt_l_detail {
	width: 1002px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 999
}
.header_cnt_l_detail .df-rss {
	position: absolute;
	right: 116px;
	top: 11px;
	width: 40px;
	height: 16px;
	font-size: 12px;
	color: #666;
	line-height: 16px
}
.header_cnt_l_detail .df-rss:hover {
	color: #ee4b4b
}
.header_cnt_l_detail .df-rss img {
	display: block;
	float: left;
	margin-right: 2px
}
.icon_cnt_dtl {
	width: 110px;
	height: 20px;
	line-height: 38px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 9px 0
}
.icon_cnt_dtl a {
	position: relative;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 20px
}
.icon_cnt_dtl a:hover {
	color: #EE4B4B
}
.icon_cnt_dtl a.weixin_ew {
	background-image: url("../images/df_wx.png");
	padding-left: 25px;
	margin-right: 2px
}
.icon_cnt_dtl a.phone_ew {
	background-image: url("../images/df_app.png");
	padding-left: 20px;
	background-position: 6px
}
.icon_cnt_dtl a span {
	display: none;
	width: 225px;
	height: 227px;
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	top: 18px;
	z-index: 999;
	*zoom: 1
}
a.weixin_ew:hover span {
	display: inline;
}
a.phone_ew:hover span {
	display: inline;
}
a.weixin_ew span {
	background-image: url(../images/2d_wx.png);
	left: -114px
}
a.phone_ew span {
	background-image: url(../images/2d_app.png);
	left: -161px
}
ul.nav_detail {
	width: auto;
	height: 38px;
	line-height: 38px;
	*zoom: 1
}
ul.nav_detail li {
	float: left
}
ul.nav_detail li a {
	font-size: 12px;
	color: #666;
	padding: 0 8px;
	border-left: 1px solid #DBDBDB
}
ul.nav_detail li a .hot {
	position: absolute;
	top: -9px;
	right: -7px;
	z-index: 2
}
ul.nav_detail li.more-wrap {
	width: 55px;
	height: 38px;
	line-height: 38px;
	_padding-top: 8px
}
ul.nav_detail li.more-wrap.active, ul.nav_detail li.more-wrap:hover {
	background-color: #fff
}
ul.nav_detail li .more-link {
	position: absolute;
	top: 32px;
	left: 0;
	background-color: #fff;
	width: 55px;
	padding-bottom: 8px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee
}
ul.nav_detail li .more-link a {
	border-left: 0 none;
	display: block;
	padding: 4px 0;
	height: 16px;
	line-height: 16px;
	text-align: center
}
ul.nav_detail li.first a {
	border-left: none
}
ul.nav_detail li a:hover {
	color: #EE4B4B
}

/*搜索框*/
.header_cnt_s {
	position: relative;
}
.header_cnt_s .search_head {
	width: 319px;
	height: 28px;
	line-height: 28px;
	text-indent: 14px;
	border: 1px solid #bebebe;
	color: #444;
}
.header_cnt_s a {
	display: block;
	width: 41px;
	height: 28px;
	line-height: 28px;
	background: url("../images/icon_search.png") no-repeat center center;
	color: #FFF;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	border-right: 1px solid #bebebe;
	border-top: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
	_top: 1px;
}
div.headerCntM {
	width: 255px;
	height: 88px;
	padding: 6px 10px 0
}
div.header_cnt_2 {
	width: 363px;
	height: 40px;
	padding-top: 42px;
	float: right;
	padding-right: 5px
}
.right_cod {
	position: fixed;
	width: 120px;
	height: 200px;
	z-index: 99;
	left: 50%;
	bottom: 344px;
	margin-left: 515px;
	cursor: pointer
}
.right_cod img {
	width: 100%;
	height: 100%
}
.header_cnt_l {
	width: 206px;
	height: 42px;
	padding-top: 34px;
}

/*导航栏*/
.nav_content .bg_top {
	width: 100%;
	height: 5px;
	background: #ee4b4b;
}
.nav_ul_box {
	width: 1002px;
	margin: 0 auto;
	height: 46px;
	border-bottom: 1px solid #ddd;
}
.nav_ul_box_ch {
	float: left;
	padding-right: 26px;
	margin-top: 16px;
	border-right: 1px solid #e9e9e9;
	line-height: 100%;
	_line-height: 150%;
}
.border_line {
	border-left: 1px solid #f0f0f0;
}
.box_border {
	padding-left: 26px;
}
li.border_right_none {
	border-right: none;
}
.nav_ul_box_ch a {
	color: #404040;
	font-size: 16px;
}
.nav_ul_box_ch a:hover {
	color: #ee4b4b;
}
.nav_ul_box_ch a.active {
	color: #ee4b4b;
}
.nav_ul_box_ch ul li {
	float: left;
	padding-left: 26px;
}

/*正文*/
.hot_news_h2 {
	line-height: 100%;
}
.hot_news_h2 span {
	display: block;
	float: left;
	width: 60px;
	height: 30px;
	line-height: 30px;
	background: #ee4b4b;
	text-align: center;
	font-size: 24px;
	color: #fff;
	font-weight: 400;
	margin-top: 20px;
	border-radius: 2px;
}
.hot_news_h2 h1 {
	float: left;
	font-size: 30px;
	margin-top: 18px;
	padding-left: 10px;
	width: 900px;
	height: 31px;
	color: #321212;
	overflow: hidden;
}
.hot_news_h2 h1 a {
	line-height: 100%;
}

/*篮球*/
.container_top {
	width: 980px;
	height: 46px;
	border-bottom: 2px solid #666;
	line-height: 100%;
	_line-height: 150%;
}
.container_top_left {
	position: relative;
	float: left;
}
.container_top_left span {
	display: block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 24px;
	height: 24px;
	background: url("../images/comare_icon.png") no-repeat;
}
.container_top_left .sports_b {
	background-position: 0 0;
}
.container_top_left .sports_t {
	background-position: 0 -24px;
}
.container_top_left .sports_com {
	background-position: 0 -48px;
}
.container_top h2 {
	font-size: 24px;
	line-height: 46px;
	padding-left: 30px;
}
.container_top_right li {
	float: left;
	margin-top: 20px;
	padding: 0 10px;
}
.container_top_right li a {
	font-size: 16px;
}
.container_top_right li a:hover {
	color: #ee4b4b;
	text-decoration: underline;
}
.container_top_right li {
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #f0f0f0;
}
.container_top_right li.border_left_none {
	border-left: none;
}
.container_top_right li.border_right_none {
	border-right: none;
}
.c_title {
	width: 80px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background-color: #f98a8a;
}
.container_content_left {
	float: left;
	width: 360px;
	overflow: hidden;
}
.container_content_middle {
	width: 260px;
	margin-left: 15px;
	margin-top: 20px;
	float: left;
}
.container_content_bigimg .bigimg_c {
	display: block;
	width: 260px;
	height: 160px;
	overflow: hidden;
	font-size: 0;
}
.container_content a img {
	border: none;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
.container_content a img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.container_content_bigimg .bigimg_c span {
	display: block;
	width: 260px;
	height: 130px;
	overflow: hidden;
}
.container_content_smallimg .small_content span {
	display: block;
	width: 120px;
	height: 90px;
	overflow: hidden;
}
.container_content_bigimg .bigimg_c:hover i {
	background-color: #ee4b4b;
	color: #fff;
}
.container_content_bigimg .bigimg_c i {
	display: block;
	width: 250px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	padding: 0 5px;
	text-align: center;
	background-color: #f6f7f9;
}
.container_content_smallimg .small_content a {
	display: block;
	width: 120px;
	height: 125px;
	overflow: hidden;
	font-size: 0;
}
.small_content_mub {
	position: absolute;
	top: 0;
	left: -26px;
	z-index: 9;
	*width: 334px;
	overflow: hidden;
}
.small_content_mub li {
	float: left;
	padding-left: 26px;
}
.small_content_mub li a {
	display: block;
	width: 140px;
	height: 140px;
	overflow: hidden;
	font-size: 0;
}
.small_content_mub li a span {
	display: block;
	width: 140px;
	height: 105px;
	overflow: hidden;
}
.small_content_mub li a i {
	display: block;
	width: 130px;
	height: 36px;
	line-height: 17px;
	font-size: 14px;
	padding: 0 5px;
	background-color: #f6f7f9;
}
.small_content_mub li a:hover i {
	background-color: #ee4b4b;
	color: #fff;
}
.container_content_smallimg {
	position: relative;
}
.container_content_smallimg .small_content {
	position: absolute;
	top: 28px;
	left: -20px;
	z-index: 9;
	*width: 280px;
	overflow:hidden;
}
.container_content_smallimg .small_content li {
	float: left;
	padding-left: 20px;
}
.container_content_smallimg .small_content li a:hover i {
	background-color: #ee4b4b;
	color: #fff;
}
.container_content_smallimg .small_content li a i {
	display: block;
	width: 110px;
	height: 35px;
	font-size: 14px;
	padding: 0 5px;
	padding-top: 2px;
	background-color: #f6f7f9;
	line-height: 120%;
}
.container_content {
	position: relative;
}
.container_content_right {
	position: absolute;
	top: 0;
	left: 664px;
	z-index: 9;
	*width: 316px;
	overflow: hidden;
}
ul.mt23 {
	margin-top: 23px;
}
ul.mt60 {
	margin-top: 60px;
}
.column_cba {
	display: none;
}

/*综合体育
*/
.compre_content {
	float: left;
	width: 313px;
	margin-left: 20px;
	overflow: hidden;
}
.compre_content a.compre_content_img {
	position: relative;
	display: block;
	font-size: 0;
	width: 320px;
	height: 240px;
	overflow: hidden;
}
.compre_content a.compre_content_img img {
	border: none;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
.compre_content a.compre_content_img:hover img {
	width: 340px;
	height: 260px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.compre_content a.compre_content_img span {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	display: block;
	width: 300px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}
div.margin_left_0 {
	margin-left: 0;
}
.container {
	width: 980px;
	margin: 0 auto
}
.first-view-container .hot-personality {
	width: 380px
}
.hot-personality .hot-personality-nav {
	border-bottom: 1px solid #ebebeb;
	margin-top: 16px;
	position: relative
}
.hot-personality .hot-personality-nav .nav-hot, .hot-personality .hot-personality-nav .nav-personality {
	display: block;
	width: 93px;
	font-size: 18px;
	height: 28px;
	line-height: 28px;
	padding-left: 27px;
	padding-bottom: 8px;
	text-align: center
}
.hot-personality .hot-personality-nav .nav-hot {
	background: url(../images/heighnews.png) no-repeat 14px 5px
}
.hot-personality .hot-personality-nav .nav-personality {
	background: url(../images/paperplane.gif) no-repeat 14px 5px
}
.hot-personality .hot-personality-nav .nav-hot.active, .hot-personality .hot-personality-nav .nav-personality.active {
	color: #EE4B4B;
	font-weight: bold
}
.hot-personality .hot-personality-nav .more {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 28px;
	line-height: 28px;
	color: #999
}
.hot-personality .hot-personality-nav .more:hover {
	color: #ee4b4b
}
.hot-personality .hot-personality-nav .more i {
	position: absolute;
	right: 0;
	top: 2px;
	font-size: 12px;
	line-height: 10px;
	width: 10px;
	height: 10px;
	color: #EE4B4B
}
.hot-personality .hot-personality-nav .bt-line {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	line-height: 2px;
	font-size: 0;
	background-color: #EE4B4B;
	width: 120px;
	overflow: hidden
}
.hnt-list {
	padding-top: 14px
}
.hnt-list .hnt-item {
	padding-left: 14px;
	padding-top: 12px;
	width: 100%;
	height: 51px;
	*zoom: 1;
	*vertical-align: bottom
}
.hnt-list .hnt-item .dot {
	position: absolute;
	top: 22px;
	left: 0;
	width: 6px;
	height: 6px;
	line-height: 6px;
	font-size: 0;
	background-color: #EE4B4B;
	border-radius: 50%
}
.hnt-list .hnt-item .title-sm-wrap {
	width: auto;
	display: inline;
	width: auto;
	height: 24px;
	float: left
}
.hnt-list .hnt-item .title-lg {
	font-size: 18px;
	font-weight: bold;
	display: inline;
	width: 100%;
	height: 27px;
	float: left;
	_overflow: hidden
}
.hnt-list .hnt-item .title-sm-wrap .title-sm {
	font-size: 12px;
	margin-right: 10px;
	line-height: 2;
	height: 24px;
	line-height: 24px;
	overflow: hidden
}
.hnt-list .hnt-item .title-lg .bgicon {
	margin: 7px 0 0 5px;
	display: inline;
	float: left;
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_bg.png");
	background-size: auto 57px;
	background-repeat: no-repeat;
	background-position: 0 0
}
:root .hnt-list .hnt-item .title-lg .bgicon {
	background-image: url("../images/sprite_icon.png")
}
.hnt-list .hnt-item .title-lg span {
	width: auto;
	height: auto;
	float: left;
	display: inline
}
.hot-news-bottom {
	margin-top: 10px;
	border-top: 1px dotted #b6b6b6;
	padding-top: 6px
}
.hnb-list {
	padding-top: 12px
}
.hnb-list .hnb-item {
	padding-left: 14px;
	_width: 396px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	*zoom: 1;
	*vertical-align: bottom
}
.hnb-list .hnb-item.first {
	padding-bottom: 6px
}
.hnb-list .hnb-item.first .title-main {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: #212121;
	width: auto;
	height: 24px;
	overflow: hidden;
	display: block
}
.hnb-list .hnb-item.first .title-main span {
	display: inline;
	float: left;
	width: auto;
	height: 24px
}
.hnb-list .hnb-item.first .title-main span:hover {
	color: #ee4b4b
}
.hnb-list .hnb-item.first .title-main .bgicon {
	display: inline;
	float: left;
	margin: 5px 0 0 5px;
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_bg.png");
	background-size: auto 14px;
	background-repeat: no-repeat;
	background-position: 0 0
}
:root .hnb-list .hnb-item.first .title-main .bgicon {
	background-image: url("../images/sprite_icon.png")
}
.hnb-list .hnb-item .title-sub {
	font-size: 14px;
	line-height: 28px;
	width: auto;
	height: 28px;
	display: block
}
.hnb-list .hnb-item .title-sub span {
	display: inline;
	float: left;
	width: auto;
	height: 28px
}
.hnb-list .hnb-item .title-sub .bgicon {
	display: inline;
	float: left;
	margin: 7px 0 0 5px;
	width: 16px;
	height: 16px;
	background-image: url("../images/icon_bg.png");
	background-size: auto 57px;
	background-repeat: no-repeat;
	background-position: 0 0
}
:root .hnb-list .hnb-item .title-sub .bgicon {
	background-image: url("../images/sprite_icon.png")
}
.hnb-list .hnb-item .dot {
	position: absolute;
	top: 9px;
	left: 0;
	width: 6px;
	height: 6px;
	line-height: 6px;
	font-size: 0;
	background-color: #EE4B4B;
	border-radius: 50%
}
.hnb-list .hnb-item .dot-sm {
	position: absolute;
	top: 12px;
	left: 0;
	width: 4px;
	height: 4px;
	line-height: 4px;
	font-size: 0;
	background-color: #9A9A9A;
	border-radius: 50%
}
.personality-recommend .pr-content-wrap {
	height: 1043px;
	padding-top: 14px;
	overflow: hidden
}
.personality-recommend .pr-content-wrap .pr-list {
	overflow: hidden
}
.personality-recommend .pr-content-wrap .pr-list .pr-item {
	padding-top: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #F4F4F4;
	float: left;
	width: 100%
}
.personality-recommend .pr-content-wrap .pr-list .pr-item .img {
	position: absolute;
	left: 0;
	width: 100px;
	height: 75px;
	overflow: hidden
}
.personality-recommend .pr-content-wrap .pr-list .pr-item .pr-list-txt-wrap {
	padding-left: 112px;
	min-height: 75px;
	_height: 75px
}
.personality-recommend .pr-content-wrap .pr-list .pr-item .pr-list-txt-wrap h4 {
	font-size: 16px;
	line-height: 24px;
	height: 45px;
	overflow: hidden
}
.personality-recommend .pr-content-wrap .pr-list .pr-item .pr-list-txt-wrap p {
	font-size: 12px;
	color: #999999;
	height: 18px;
	overflow: hidden;
	margin-top: 8px
}
.personality-recommend .pr-more {
	padding: 15px 0;
	border-bottom: 1px solid #e3e3e3;
	text-align: center
}
.personality-recommend .pr-more a {
	font-size: 16px;
	font-weight: bold;
	color: #f54343
}
.first-view-container .carousel-wrap {
	width: 580px
}
.carousel-wrap .carousel {
	width: 580px;
	height: 326px;
	overflow: hidden;
	margin-top: 20px
}
.banner {
	position: relative;
	width: 580px;
	height: 326px;
	overflow: hidden
}
.banner a.img_a {
	position: absolute;
	left: 0;
	top: 0;
	width: 580px;
	height: 326px
}
.banner a.img_a img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 580px;
	height: 326px
}
.banner_bar {
	position: absolute;
	left: 0;
	top: 286px;
	width: 580px;
	height: 40px;
	background-color: #000000;
	background: rgba(0, 0, 0, 0.5);
	filter: alpha(opacity=50);
	z-index: 8
}
.banner_txt {
	position: absolute;
	left: 0;
	top: 286px;
	width: 460px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	text-indent: 14px;
	z-index: 10
}
.banner_txt a {
	font-size: 16px;
	font-weight: bold;
	color: #ffffff
}
.banner_txt a:hover {
	color: #ffffff;
	text-decoration: underline
}
.banner_act {
	position: absolute;
	right: 0;
	top: 296px;
	width: 100px;
	height: 20px;
	z-index: 99
}
.banner_act div {
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer
}
.banner_act div span {
	display: block;
	font-size: 0;
	margin: 0 auto;
	margin-top: 6px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #ffffff
}
.banner_act div span.now {
	background-color: #F44D4D;
	margin-top: 4px;
	width: 12px;
	height: 12px
}
.banner .btn_l {
	position: absolute;
	left: -50px;
	top: 120px;
	width: 20px;
	height: 45px;
	background: url(../images/banner_left.png) no-repeat center center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/banner_left.png");
	cursor: pointer;
	z-index: 99
}
.banner .btn_r {
	position: absolute;
	right: -50px;
	top: 120px;
	width: 20px;
	height: 45px;
	background: url(../images/banner_right.png) no-repeat center center;
	_background: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/banner_right.png");
	cursor: pointer;
	z-index: 99
}
.gg-index-1 {
	width: 580px;
	height: 34px;
	padding: 1px 0px;
	overflow: hidden
}
.lbNnews {
	width: 100%;
	height: 100%;
	_height: 34px;
	background-color: #f0f0f0
}
.lbNewsl {
	float: left;
	display: inline;
	width: 78px;
	height: 100%;
	*height: 34px;
	background-color: #cc6666;
	text-align: center;
	line-height: 34px;
	color: #fff
}
ul.lbNewsr {
	float: left;
	display: inline;
	height: 100%;
	*height: 34px;
	width: 502px
}
ul.lbNewsr li {
	float: left;
	width: 100%;
	height: 34px;
	line-height: 34px;
	text-indent: 1.5em
}
ul.lbNewsr li a {
	color: #666;
	font-size: 14px
}
.carousel-wrap .everybody-see {
	width: 240px;
	overflow: hidden
}

/*轮播下面的图片*/
.carouse_pic {
	position: relative;
	width: 580px;
	height: 160px;
}
.carouse_pic_ul {
	position: absolute;
	top: 0;
	left: -20px;
	z-index: 9;
}
.carouse_pic .carouse_pic_ul li {
	float: left;
	margin-top: 20px;
	padding-left: 20px;
	display: inline;
}
.carouse_pic .carouse_pic_ul li a {
	display: block;
	position: relative;
	font-size: 0;
	width: 180px;
	height: 135px;
	overflow: hidden;
}
.carouse_pic .carouse_pic_ul li a img {
	border: none;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	transition: all 400ms;
}
.carouse_pic .carouse_pic_ul li a img:hover {
	width: 200px;
	height: 155px;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.carouse_pic .carouse_pic_ul li a span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 26px;
	line-height: 26px;
	width: 170px;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: hidden;
	color: #fff;
	padding: 0 5px;
	font-size: 14px;
}
.carousel-wrap .warm-news {
	width: 314px;
	overflow: hidden
}
.carousel-wrap .read-rate {
	width: 314px
}
.sl-list {
	margin-top: 16px
}
.sl-list .sl-item {
	padding-left: 14px;
	height: 32px;
	line-height: 28px;
	overflow: hidden
}
.sl-list .sl-item.first {
	margin-bottom: 6px
}
.sl-list .sl-item.first .title-main {
	font-size: 16px;
	font-weight: bold;
	display: block;
	height: 24px;
	line-height: 24px;
	overflow: hidden
}
.sl-list .sl-item .title-sub {
	font-size: 14px;
	line-height: 28px
}
.sl-list .sl-item .dot {
	position: absolute;
	top: 9px;
	left: 0;
	width: 6px;
	height: 6px;
	line-height: 6px;
	font-size: 0;
	background-color: #EE4B4B;
	border-radius: 50%
}
.sl-list .sl-item .dot-sm {
	position: absolute;
	top: 12px;
	left: 0;
	width: 4px;
	height: 4px;
	line-height: 4px;
	font-size: 0;
	background-color: #9A9A9A;
	border-radius: 50%
}

/*广告
*/
.ad_box_1, .ad_box_2, .ad_box_3 {
	width: 1002px;
	margin: 24px auto 0;
	padding-right: 20px;
}
.mt60 {
	margin-top: 60px;
}
.mt183 {
	margin-top: 183px;
}
.ad_box_dow {
	margin-top: 16px;
	margin-left: -18px;
}

/* IE6浏览器的特有方法 */
*html .right_cod {
	position: absolute;
	bottom: auto;
	margin-bottom: 344px;
	top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
}