@charset "utf-8";
/**
 * 快压官网通用样式
 * @author lizhigao(lizhigao@021.com)
 * @date 2015-08-25
 */
body{color: #666; position: relative;}
a{color: #666; transition: color .25s, background-color .25s;}
a:hover{color: red;}
.w990{width: 1112px;}
.wp100{width: 100%;}
.clblack{color: black;}
.clred{color: red;}
.clgray{color: #999;}
.clblue{color: #0092ef;}
.input-fixIe6{_border: 1px solid #ccc; _padding: 5px 10px; _overflow: visible; _outline: 0 none;} /*input 兼容ie6*/
.input-submit-fixIe6{_padding: 5px 10px; _overflow: visible; _outline: 0 none; border: none;} /*input 兼容ie6*/
input[type="text"],input[type="password"],select,textarea{border: 1px solid #ccc; padding: 5px 10px; border-radius: 5px; transition: border-color .25s ease-in-out, box-shadow .25s ease-in-out;}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus{box-shadow: 0 0 8px #66AFE9; border-color: #66AFE9;}
button, input[type="submit"]{border: 0 none; padding: 5px 10px; cursor: pointer;}
table th, table td{text-align: center; padding: 5px}
input{color: #666;}
h1, h2, h3, h4, h5, h6 {font-weight: 400; color: black;}

.container{width: 990px; margin: 30px auto;}

/* header - start */
.header-wrap{background-color: #005CD3;}
.header{width: 990px; height: 65px; margin: 0 auto;}
.header .logo{height: 65px;}
.nav-list{margin-left: 50px;}
.nav-list li{float: left;}
.nav-list li a{color: white; display: inline-block; height: 65px; width: 120px; font-size: 16px; line-height: 65px; text-align: center;}
.nav-list li a:hover{text-decoration: none; background-color: #0053BD; color: yellow;}
.nav-list li a.active{background-color: #0053BD;}
/* header - end */

/* footer - start */
.footer{padding: 15px 0; background-color: #F8F8F8;}
.footer p{text-align: center; line-height: 2em;}
/* 友情链接 */
.friend-link-wrap{text-align: center; width: 990px; margin: 5px auto 10px; word-wrap:break-word; line-height: 2em;}
.friend-link label{cursor: default;}
.friend-img-link a{margin-right: 5px;}
.friend-img-link a img{width: 88px; height: 31px;}
/* footer - end */

/* 分割线 - start */
.sep{color: #ccc; font-family: sans-serif; margin: 0 5px;}
/* 分割线 - end */

/* 分页样式 - start */
.jpages-holder{text-align: center; margin: 15px 0;}
.jpages-holder a{border: 1px solid #eee;padding: 3px 8px;margin-right: 10px;cursor: pointer;}
.jpages-holder a:hover{border-color: #0092EF;}
.jpages-holder a.jp-current{background-color: #0092EF; border-color: #0092EF; color: white;}
.jpages-holder a.jp-disabled{color: #bbb; cursor: not-allowed;}
.jpages-holder a.jp-disabled:hover{border-color: #eee;}
/* 分页样式 - end */

/* 表单校验通用样式 start */
label.error{color: red; margin-left: 5px;}
input.error,
textarea.error{border: 1px solid red;}
/* 表单校验通用样式 end */