<!--
    7654官网头部-已登录状态（导航栏以上部分）（供7654所有页面公用）
    样式代码位于common.css
    事件代码位于common.js
    一般不建议创建人之外的人员修改，修改请谨慎。
    如有修改请注释说明，说明直接在本注释之后，如下方例子。
    @author created by lizhigao(lizhigao@021.com)
    @date 2015-05-23
-->
<!-- 修改注释示例: -->
<!--
    修改XXXXXX
    @author update by XXX(XXX@021.com)
    @date YYYY-MM-DD
-->
<!-- 头部header(已登录) start -->
<div class="header-wrap">
    <div class="headerTop-wrap">
        <div class="headerTop clearfix">
            <div class="toMangerPlatform">
                <a href="javascript:void(0);">去市场经理平台<img src="../../../Public/img/web/homepage/to_right.png" alt=""/></a>
            </div>
            <div class="toPersonCenter">
                <div class="J-regLogin regLogin inline">
                    <p class="inline">
                        用户名：<a href="javascript:void(0);">110</a>
                        <img src="../../../Public/img/web/notice_icon.png" alt="消息"/>
                        【<a href="javascript:void(0);">3</a>】
                    </p>
                    <div class="noticePopWin">
                        <p><a class="scanNotice" href="javascript:void(0);">2</a>条新站内信，<a class="scanNotice" href="">查看</a></p>
                        <i class="J-closeNoticePopWin closePopWin">x</i>
                    </div>
                    <a class="J-quite quite" href="javascript:void(0);">退出</a>
                </div>
                <span>|</span>
                <a href="javascript:void(0);">我的业绩</a>
                <span>|</span>
                <a href="javascript:void(0);">我的收支</a>
                <span>|</span>
                <a href="javascript:void(0);">我要兑换</a>
                <span>|</span>
                <a href="javascript:void(0);">我的问答</a>
            </div>
        </div>
    </div>
    <div class="headerBottom-wrap">
        <div class="headerBottom clearfix">
            <div class="logo"><img src="../../../Public/img/web/homepage/logo.png" alt="7654技术员联盟"/></div>
            <div class="logoRight">
                <span>已有<span class="num">119,989</span>技术员已加入</span>
                <!--<span class="regAndLogin">
                    <a href="javascript:void(0);"><img src="../../../Public/img/web/homepage/reg.png" alt="register"/>免费注册</a>
                    <a href="javascript:void(0);"><img src="../../../Public/img/web/homepage/login.png" alt="login"/>用户登录</a>
                </span>-->
            </div>
        </div>
    </div>
</div>
<!-- header end -->