<!--
    7654官网首页导航栏（暂时仅供首页调用）
    样式代码位于common.css
    事件代码位于common.js
    一般不建议创建人之外的人员修改，修改请谨慎。
    如有修改请注释说明，说明直接在本注释之后，如下方例子。
    @author created by lizhigao(lizhigao@021.com)
    @date 2015-05-23
-->
<!-- 修改注释示例: -->
<!--
    修改XXXXXX
    @author update by XXX(XXX@021.com)
    @date YYYY-MM-DD
-->
<!-- nav start -->
<div class="nav-wrap">
    <div class="nav">
        <div class="nav-allProducts">
            <div class="nav-allProducts-h">全部软件产品</div>
            <div class="nav-allProducts-b">
                <ul class="productsList">
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">导航</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">安全杀毒</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">办公软件</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">娱乐影音</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">浏览器</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                    <li class="productItem">
                        <div class="productInfo">
                            <h4><a href="javascript:void(0);">游戏</a></h4>
                        </div>
                        <div class="productPanel">
                            <ul class="subProductList">
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/hao123_small.png" alt="Hao123"/>Hao123</a>
                                </li>
                                <li class="subProductItem">
                                    <a href="javascript:void(0);"><img src="../../Public/img/web/homepage/360dh_small.png" alt="360导航"/>360导航</a>
                                </li>
                            </ul>
                        </div>
                        <i class="icon"></i>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-main">
            <ul class="navList">
                <li class="navItem active"><a href="javascript:void(0);">首页</a></li>
                <li class="navItem"><a href="javascript:void(0);">下载软件</a></li>
                <li class="navItem"><a href="javascript:void(0);">行业研究</a></li>
                <li class="navItem"><a href="javascript:void(0);">帮助指南</a></li>
                <li class="navItem"><a href="javascript:void(0);">论坛</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- nav end -->