/**
 * 注意：web下面公共样式文件。
 * 页面通用组件样式，禁止修改（此文件最好由一人维护，懂规则的也可一起维护。）
 * 如需修改某个组件样式，请在各栏目的page.css中修改覆盖此文件样式。
 * @author created by lizhigao(lizhigao@021.com)
 * @date 2015-05-22
 */

/* 统一编码格式 */
@charset "utf-8";
/* 统一样式 */
*{color: #666666;}
a:hover{color: #F55659;}
a{transition:all .3s; -moz-transition:all .3s; /* Firefox 4 */ -webkit-transition:all .3s; /* Safari and Chrome */ -o-transition:all .3s; /* Opera */}

/* 头部 header */
.headerTop-wrap{width: 100%;background-color: #F1F1F1; height: 35px; line-height: 35px;}
.headerBottom-wrap{width: 100%; height: 100px;}
.headerTop,
.headerBottom{width: 1210px; margin: 0 auto;}
.headerTop .toMangerPlatform{float: left; display: inline-block;}
.headerTop .toMangerPlatform a{display: block; width: 130px;}
.headerTop .toMangerPlatform a img{ vertical-align: middle; margin-bottom: 2px; margin-left: 5px;}
.headerTop .toPersonCenter{float: right; display: inline-block;}
/* 已登录-start */
.headerTop .toPersonCenter .regLogin{position: relative; width: 180px;}
.headerTop .toPersonCenter .regLogin a{color: #F55659;}
.headerTop .toPersonCenter .regLogin a:hover{text-decoration: underline;}
.headerTop .toPersonCenter .regLogin img{vertical-align: middle; margin-bottom: 3px; _margin-bottom: 0;}
.headerTop .toPersonCenter .regLogin a.quite{color: #666666;}
.headerTop .toPersonCenter .regLogin a.quite:hover{color: #F55659; text-decoration: none;}
/* 未读消息提示-弹窗 */
.headerTop .toPersonCenter .regLogin .noticePopWin{position: absolute; left: 0; top: 26px; width: 182px; height: 36px; background: url("../../img/web/notice_window-bg.png") no-repeat center;}
.headerTop .toPersonCenter .regLogin .noticePopWin p{margin-left: 5px;}
.headerTop .toPersonCenter .regLogin .noticePopWin i.closePopWin{position: absolute; right: 5px; top: -9px; cursor: pointer; font-style: normal;}
.headerTop .toPersonCenter .regLogin .noticePopWin i.closePopWin:hover{color: #F55659;}
/* 已登录-end */
.headerTop .toPersonCenter span{margin: 0 10px; color: #dddddd;}
.headerBottom .logo{float: left; display: inline-block;}
.headerBottom .logoRight{float: right; display: inline-block; padding: 30px 0;}
.headerBottom .logoRight .num{color: #990000; font-size: 22px;}
/*.headerBottom .logoRight .regAndLogin a{display: inline-block; padding: 5px; border: 1px solid #DFDFDF; background-color: #F9F9F9; margin-left: 10px;}
.headerBottom .logoRight .regAndLogin a img{vertical-align: middle; margin-bottom: 3px;margin-right: 5px;}*/

/* 导航栏 nav */
.nav-wrap{width: 100%; background-color: #CA141D;height: 40px;}
.nav{width: 1210px; margin: 0 auto;position: relative; z-index: 2;}
.nav .nav-allProducts{position: absolute; top: 0; left: 0; width: 210px; z-index: 2;}
.nav-allProducts-h h2{  color: white; font-size: 18px; line-height: 40px; height: 40px; padding-left: 20px; background-color: #E63547; border-left: 1px solid #F86575; border-right: 1px solid #F86575;}
.nav-allProducts-h .icon-category{background: transparent url("../../img/icon1.png") -229px -27px scroll no-repeat; position: absolute;
    width: 9px; height: 4px; font-size: 1px; line-height: 1px; right: 13px; top: 18px;}
.nav-allProducts-hover .nav-allProducts-h .icon-category{background-position: -229px -24px;}
.nav-allProducts-b{border-left: 1px solid #DFDFDF; border-right: 1px solid #DFDFDF; background-color: #F6F6F6; display: none;}
.nav-allProducts-hover .nav-allProducts-b{display: block;}
.nav-allProducts-b .productInfo a{color: #E73646; font-size: 15px;}

.productsList .productItem{position: relative; vertical-align: top;}
.productsList .productItem .icon{ position: absolute; right: 20px; top: 20px; background: url("../../img/web/homepage/arrow_right.png") no-repeat center;width: 5px; height: 7px;}
.productsList .productItem .productInfo{padding: 0 20px; border-bottom: 1px solid #DFDFDF; height: 45px; line-height: 45px;}
.productsList .hover .productInfo{background-color: white; border-left: 3px solid #E63547; margin-right: -1px;}
.productsList .hover .productPanel{display: block;}

/*.productsList div.J-productPanel{display: block;}/!* 仅用作动态计算产品列表宽度时使用，请勿删除！ *!/*/
.productPanel{position: absolute;left: 210px; top: -1px; display: none;background-color: white; border: 1px solid #DFDFDF; border-left: 0 none; margin-left: -1px;}
.productPanel .subProductList{width: 180px;}
.productPanel .subProductItem{padding: 10px 20px; display: inline-block; *float: left;}
.productPanel .subProductItem a{ font-size: 15px; *display: block;}
.productPanel .subProductItem a img{vertical-align: middle; margin-right: 10px;}

.nav .nav-main{padding-left: 210px;}
.nav .nav-main .navList .navItem{float: left; height: 40px; line-height: 40px; width: 114px;}
.nav .nav-main .navList .active{background-color: #BA181F;}
.nav .nav-main .navList li:hover{background-color: #BA181F;}
.nav .nav-main .navList a{color: white; font-size: 18px; display: inline-block; text-align: center; width: 100%;}

/* 尾部footer */
.footer-wrap{width: 100%; background-color: #FBFBFB; border-top: 1px solid #EFEFEF;}
.footer{width: 1210px; margin: 0 auto; text-align: center; padding-bottom: 10px;}
.footer p{margin: 20px 0;}
.footer-copyright span{margin: 0 10px; color: #dddddd;}
.footer-img span{margin: 0 10px;}

/* 页面通用panel，如：联盟公告、常见问题、行业快报 */
.panel{width: 250px; border: 1px solid #E4E4E4; height: 262px;}
.panel-h{ padding: 0 10px; height: 45px; line-height: 45px; border-bottom: 1px dotted #E5E5E5;}
.panel-h h4{float: left; color: black; font-size: 18px;}
.panel-h a{float: right; color: #999999; font-size: 12px;}
.panel-h a:hover{color: #F55659;}
.panel-b{  padding: 5px 10px;}

/* 右侧固定导航栏 */
/* IE6兼容 - 在 IE6 中实现 position:fixed; 的办法，解决“被固定定位的元素在滚动滚动条的时候会闪动”问题 */
*html{background-image: url(about:blank); background-attachment: fixed;}
.rightSidebarFixedForIE6{_position:absolute; _bottom:auto; _right: 30px; _margin-bottom: 220px; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
.rightSidebarFixed{position: fixed; right: 30px; top: 50%; margin-left: 625px; width: 70px;}
.rightSidebarItem{width: 70px; height: 64px;}
.rightSidebarItem a{background-color: #FFF; border: 1px solid #F1F1F1; display: block; padding: 5px 0; color: #999999; text-align: center;}
.rightSidebarItem a:hover{border-color: #F85657;}
.rightSidebarItem i{display: block; height: 32px; margin: 0 auto; width: 32px; margin: 0 auto;}
.rightSidebarItem em{ line-height: 20px; font-style: normal; font-size: 12px;}
.rightSidebarItem .downloadSoftware i{width: 29px; height: 21px; background: url("../../img/sprites_right_sidebar.png") no-repeat -34px -1px}
.rightSidebarItem .onlineService i{width: 20px; height: 22px; background: url("../../img/sprites_right_sidebar.png") no-repeat -71px 0px}
.rightSidebarItem .managerRecruit i{width: 22px; height: 22px; background: url("../../img/sprites_right_sidebar.png") no-repeat -101px -1px}
.rightSidebarItem .toTop i{width: 29px; height: 17px; background: url("../../img/sprites_right_sidebar.png") no-repeat 0 0}
.rightSidebarItem a.toTop{background-color: #F85657; padding: 18px 0;}
.J-toTop{display: none;}

/* 弹出框. */
.pop-shade { position: fixed; top: 0; left: 0; background: #373739;}
.pop-massage { position: fixed; _position: absolute; z-index: 9999; border: 6px solid #ACACAC; background: #FFF; display: none;}
.pop-hd { height: 40px; line-height: 40px; overflow: hidden; border-bottom: 1px solid #E1E9F0;}
.t-massage {float: left; margin-left: 20px; _margin-left: 10px; line-height: 40px;}
.clone-btn { display: block; width: 24px; height: 24px; background: url("../../img/web/reglogin/guanbi.png") no-repeat; float: right; margin: 8px 10px 0 0; font-size: 0;
    text-indent: 99px; overflow: hidden;}
.pop-bd { width: 100%; height: auto; overflow: hidden;}

/* 注册登录系列页面通用panel，如：找回账号，找回密码 */
.rl-panel{border: 1px solid #E4E4E4; width: 1000px; margin: 50px auto; height: auto;}
.rl-panel-h{ padding: 0 10px; height: 45px; line-height: 45px; border-bottom: 1px dotted #E5E5E5;}
.rl-panel-h h4{float: left; color: black; font-size: 18px;}



/*--------------------------------下载软件弹窗 - start-------------------------------*/
.pop-shade { position: fixed; _position: absolute; top: 0; left: 0; background: #373739;}
.popup-wrap { position: fixed; _position: absolute; z-index: 9999; border-radius: 5px; box-shadow: 0 0 20px rgba(0,0,0,0.6); background: #FFF; display: none; border: 5px solid #ACACAC\9;}
.popup-hd { height: 40px; line-height: 40px; overflow: hidden; border-bottom: 1px solid #E1E9F0;}
.p-title { font-size: 16px; color: #0B66C0; float:left; margin-left: 20px;}
.clone-btn { display: block; width: 22px; height: 22px; background: url("../../img/web/close.png") no-repeat; float: right; margin: 9px 10px 0 0; font-size: 0;
    text-indent: 99px; overflow: hidden;}
.popup-main { width: 100%; overflow: hidden;}
.popup-main p.type-message { font-size: 24px;  text-align: center; color: #ef2349;}
.popup-footer { height: 40px; width: 100%; overflow: hidden; position: relative;}
.popup-footer .submit-btn { display: block; height: 30px; border-radius: 5px; background: #1D97DF; width: 130px; color: #FFF; text-align: center; line-height: 30px; text-align: center;
    margin:5px auto; }
/*--------------------------------下载软件弹窗 - end-------------------------------*/
/* 登录框. */
/*.pop-login { width: 100%; height: auto; margin: 25px auto; }
.pop-login li { width: 100%; overflow: hidden; height: auto; overflow: hidden; margin-bottom: 25px; position:relative;}
.pop-login li.forget-prd-wrap { margin-bottom: 10px;}
.pop-login li label,
.pop-login li input,
.pop-login li span {float: left;}
.pop-login li label,
.pop-login li span { height: 40px; line-height: 40px; margin-left: 10px;}
.pop-login li label { margin: 0 10px 0 25px;}
.pop-login li em.label-hint { position: absolute; left: 81px; top: 15px; color: #999999; _line-height: 14px;}
.pop-login li .forget-prd { height: 20px; line-height: 20px; margin-left: 71px;}
.pop-login li a.login-btn { display: block; width: 160px; height: 40px; line-height: 40px; margin: 0 0 0 71px; _margin-left: 35px;
    background: #E4393C; color: #FFF; text-align: center; font-size: 16px; border-radius: 3px; float: left;}
.pop-login li a.login-btn:hover { color: #FFF;}
.pop-login li span.error-massage { color: #E4393C; display: none;}
.w280 { width: 250px;}*/
/* 表格类.*/
/*.popup-table-box { width: 90%; margin: 15px auto; border: 1px solid #EEE; text-align: center;}
.popup-table-box th { height: 30px; line-height: 30px; border: 1px solid #EEE; background: rgba(162,158,158,0.7); *background: #a29e9e;}
.popup-table-box td { height: 26px; line-height: 26px; border: 1px solid #EEE;}*/

/* callback.*/
/*
.callback-mian { line-height: 30px; font-size: 18px; text-align: center; margin: 40px 0 0;}
.popup-login { width: 450px; height: 300px;}*/
