<!--
    注意：此文件为“个人中心”公用头部，修改需谨慎。
    @author created by lizhigao(lizhigao@021.com)
    @date 2015-05-28
-->

<!-- Header.-->
<div class="headerWrap">
    <div class="header clearfix">
        <div class="logo fl ib"><img src="../../../Public/img/user/logo.png" alt="7654个人中心"></div>
        <div class="userOpt fr ib">
                    <span class="userInfo">
                        <img class="userHead" src="../../../Public/img/user/homepage/head.png" alt=""/>
                        您好，<a href="#" class="userName">LangDesign</a>
                        <i class="lettersIcon ib"></i>【&nbsp;<a href="#" class="lettersNum">7</a>&nbsp;】
                        <a href="#" class="signOut">退出</a>
                    </span>
            <span class="splitLine">&nbsp;|&nbsp;</span>
            <a class="to7654" href="../../web/homepage/index.html">技术员联盟首页</a>
            <span class="splitLine">&nbsp;|&nbsp;</span>
            <a class="toManagerPlatform" href="###">市场经理平台</a>
            <i></i>
        </div>
    </div>
</div>
<!-- End Header.-->