<!--
    注意：此文件为“个人中心”公用左侧导航菜单，修改需谨慎。
    @author created by lizhigao(lizhigao@021.com)
    @date 2015-05-28
-->

<!-- 左侧菜单 start -->
<div class="menuWrap fl">
    <ul class="menuList" id="userCenter_sidebarMenu">
        <li>
            <h4 data-head="head" class="menuHeader">我的账户</h4>
            <div class="menuItem">
                <a href="javascript:void(0);">我的账户</a>
            </div>
        </li>
        <li>
            <h4 data-head="head" class="menuHeader">我的业绩</h4>
            <div class="menuItem">
                <a href="javascript:void(0);">推广总业绩</a>
                <a href="javascript:void(0);">导航推广业绩</a>
                <a href="javascript:void(0);">邀请业绩</a>
                <a href="javascript:void(0);">产品有效量查询</a>
            </div>
        </li>
        <li>
            <h4 data-head="head" class="menuHeader">我的收支</h4>
            <div class="menuItem">
                <a href="javascript:void(0);">收支记录</a>
                <a href="javascript:void(0);">兑现记录</a>
                <a href="javascript:void(0);">月实际充入积分明细</a>
            </div>
        </li>
        <li>
            <h4 data-head="head" class="menuHeader">我的兑换</h4>
            <div class="menuItem">
                <a href="javascript:void(0);">我的兑换</a>
            </div>
        </li>
        <li>
            <h4 data-head="head" class="menuHeader menuHeader-active">我要提问</h4>
            <div class="menuItem">
                <a class="menuItem-active" href="../myquestions/ask_question.html">我要提问</a>
            </div>
        </li>
        <li>
            <h4 data-head="head" class="menuHeader">我的设置</h4>
            <div class="menuItem">
                <a href="javascript:void(0);">我的设置</a>
                <a href="javascript:void(0);">店铺认证</a>
            </div>
        </li>
    </ul>
</div>
<!-- 左侧菜单 end -->