/**
 * 找回账号页面样式文件
 * @author created by lizhigao(lizhigao@021.com)
 * @date 2015-05-23
 */
/* 统一编码格式 */
@charset "utf-8";
.redLine{width: 100%; background-color: #CA141D; height: 2px;}
.forgotPwdMain{min-height: 630px; _height: 630px;}

/* 第一步step1 - 填写用户名 */
.step1{background: url("../../../img/web/reglogin/step1.png") no-repeat center; width: 830px; height: 62px; margin: 20px auto;}
.step1-form{width: 300px; margin: 80px auto;}
.step1-form label{color: #333333;}
.step1-form .step1-username{color: #333333; width: 200px; height: 30px; padding: 5px; line-height: 20px; border: 1px solid #EAEAEA;}
.step1-form .step1-submit{width: 210px; height: 40px; background-color: #DDDDDD; cursor: not-allowed; border: 0 none; color: white;
    margin-left: 56px; margin-top: 30px;}

/* 第二步step2 - 验证用户名 */
.step2{background: url("../../../img/web/reglogin/step2.png") no-repeat center; width: 830px; height: 62px; margin: 20px auto;}
.step2-username-wrap{text-align: center; margin: 15px 0;}
.step2-username{color: red; font-size: 18px;}
.step2-tab{width: 500px; margin: 15px auto;}
.step2-tab .tab-menu{border-bottom: 2px solid #E4393C;}
.step2-tab .tab-menu li{cursor: pointer; border-top-left-radius: 10px; border-top-right-radius: 10px;  float: left;
margin-right: 10px; height: 40px; line-height: 40px; font-size: 16px; background-color: white; color: #E4393C; padding: 0 15px;}
.step2-tab .tab-menu li.current{background-color: #E4393C; color: white;}
.hide{display: none;}
.step2-tab .tab-box .getPhoneCode{ height: 30px; width: 100px; background-color: #E4393C; border: 0 none; color: white; margin-left: 10px;}
.step2-tab .tab-box .tab-content{ margin-bottom: 100px; text-align: center;border: 1px solid #E4E4E4; border-top: 0 none; padding: 30px 0;}
.step2-tab .tab-box .tab-content p{margin-bottom: 20px;}
.step2-tab .tab-box .tab-content .phoneCode{ color: #333333; width: 200px; height: 30px; padding: 5px; line-height: 20px; border: 1px solid #EAEAEA;}
.step2-tab .tab-box .tab-content .step2-submit{width: 210px; height: 40px; background-color: #E4393C; border: 0 none;
    color: white; margin-left: 56px; margin-top: 30px;}
.step2-tab .tab-box .tab-content .emailForm .step2-submit{margin: 0;}

/* 第三步step3 - 重置密码 */
.step3{background: url("../../../img/web/reglogin/step3.png") no-repeat center; width: 830px; height: 62px; margin: 20px auto;}
.step3-formWrap{margin-bottom: 50px;}
.step3-form{margin-left: 300px;}
.step3-form-label{text-align: right;}
.step3-form-inputWrap{text-align: left;}
.step3-form-tips{text-align: left; color: red;}
.step3-form-inputWrap .resetPwd-submit{width: 210px; height: 40px; background-color: #E4393C; border: 0 none; color: white;}
.step3-form .step3-input{ color: #333333; width: 200px; height: 30px; padding: 5px; line-height: 20px; border: 1px solid #EAEAEA;}
.step3-form .step3-codeImgWrap{ padding: 10px 0; height: 30px; line-height: 30px;}
.step3-form .step3-codeImgWrap .changeCodeImg{color: red;}

/* 密码重置成功 */
.resetPwdSuccessList{text-align: center;margin: 50px 0 100px;}
.resetPwdSuccessItem .colorE13739{color: #E13739;}
.resetPwdSuccessItem span.colorE13739{font-size: 22px;}
